@import './var.css';

/* 样式初始化 */
*,
*::before,
*::after {
  /* 清除默认的外边框和内边框 */
  margin: 0;
  padding: 0;
  /* 统一盒子模型 */
  box-sizing: border-box;
  /* 默认为相对定位 */
  position: relative;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  /* 和字体相关的样式写在body中，因为默认会被继承 */
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  /* 当绘制文本时，浏览器会侧重文本的可读性（清晰度），而不是渲染速度和几何精度 */
  text-rendering: optimizeLegibility;
  /* 对字体进行抗锯齿渲染可以使字体看起来会更清晰舒服 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
